<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mini file server</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/styles.css'>
    <script src='/scripts/htmx.min.js'></script>
    <script src='/scripts/fetch_funcs.js'></script>
</head>
</head>
<body>
    <div id="container">
        <h1> {{ title }} </h1>
        <div id="action-container">
            <div class="breadcrump-container"> 
                {%- for p in paths -%}
                {{p | safe}} 
                {%- if not loop.last and not loop.first -%} 
                <span class="seperator"> > </span> 
                {% endif %} 
                {% endfor %}
            </div>
            <div class="flex-spacer"></div>
        </div>
        <div id="upload-container">
            <!--<form id="upload_form" method="post" action="/upload" hx-post="/upload" hx-target="#file-container" enctype="multipart/form-data" autocomplete="off">-->
            <form id="upload_form" onsubmit="return false" enctype="multipart/form-data" autocomplete="off">
                <label for="files">Upload:</label>
                <input type="file" id="files" name="files[]" multiple>
                <input type="hidden" id="folder" name="folder" value="{{ folder }}">
                <input type="button" onclick="upload()" value="upload">
            </form>
        </div>
        <div id="create-folder-container">
        <form id="create_folder_form" onsubmit="return false" autocomplete="off">
            <input type="text" id="name" name="name">
            <input type="hidden" id="path" name="path" value="{{ folder }}">
            <input type="button" onclick="create_folder()" value="Create dir">
        </form>
        </div>
        <div id="feedback-container" onclick="this.classList.toggle('show')">
            <div id="info">the info container</div>

        </div>
        <div id="file-container">
        {% include "folder_result" %}
           
        </div>
        <div id="footer"> Footer </div>
    </div>
</body>
</html>