<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mini file server</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel='stylesheet' type='text/css' media='screen' href='/styles/styles.css'>
    <script src='/scripts/htmx.min.js'></script>
</head>
<body>
    <div id="container">
        <h1> {{ title }} </h1>
        <div id="action-container">
            <div class="breadcrump-container"> 
                {%- for p in paths -%}
                {{p | safe}} 
                {%- if not loop.last and not loop.first -%} 
                <span class="seperator"> > </span> 
                {% endif %} 
                {% endfor %}
            </div>
            <div class="flex-spacer"></div>
            
        </div>
        <div id="upload-container">
            <form method="post" action="/upload" enctype="multipart/form-data" autocomplete="off">
                <label for="files">Upload:</label>
                <input type="file" id="files" name="files[]"  multiple>
                <input type="hidden" id="folder" name="folder" value="{{ folder }}">
                <input type="submit" value="upload">
            </form>
        </div>
        <div id="create-folder-container">
        <form method="post" hx-post="/create_dir" hx-target="#file-container" autocomplete="off">
            <input type="text" id="name" name="name">
            <input type="hidden" id="path" name="path" value="{{ folder }}">
            <input type="submit" value="Create dir">
        </form>
        </div>
        <div id="file-container">
        {% include "folder_result" %}
           
        </div>
        <div id="footer"> Footer </div>
    </div>
</body>
</html>